@import "variables";

.AddNewTask {
  background: $task-background;
  list-style: none;
  color: $task-font-color;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50px;
  display: flex;
  align-items: stretch;
}

.AddNewTask input {
  font-family: $body-font;
  font-size: $body-font-size;
  border: none;
  outline: none;
  width: 100%;
}

.AddNewTask input:focus {
  border: none;
  outline: none;
}

button {
  min-height: 1.8rem;
  min-width: 1.8rem;
  max-height: 1.8rem;
  max-width: 1.8rem;
  border-radius: $border-radius;

  cursor: pointer;
  border: none;
  color: $task-background;
  background-image: url("../images/addTaskArrow.svg");
  background-color: $dot-color;
}

button:hover {
  background-color: $dot-color-hover;
}
