@import "variables";

.App {
  background: $app-background-color;
  height: 100%;
  
  @media #{$mobile} {padding: 3vh;}
  @media #{$desktop} {padding: 5vh;}
  color: $task-background;
  font-family: $body-font;
  font-size: $body-font-size;
  width: 100vw;
}
