@import "variables";
$clock-size: 50vw;
$border-size: 0.9vh;

.Clock {

    position: relative;
    // padding: 2rem;
    border: $border-size solid $task-background;
    border-radius: 50%;
    margin: 1vw;
    @media #{$mobile} { width: $clock-size;     height: $clock-size;}
    @media #{$desktop} { width: $clock-size/3;   height: $clock-size/3;}


    .hand {
        width: 50%;
        right: 50%;
        height: $border-size;
        background: $task-background;
        position: absolute;
        top: 50%;
        border-radius: $border-size;
        transform-origin: 100%;
        transform: rotate(90deg);
      }
      
      .hand.hour-hand {
        width: 30%;
      }
      
      .hand.min-hand {
        width: 40%;
      }
}