@import "variables";

.MainContent {
  height: 78vh;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  
}

.WidgetViewDesktop {
  height: 78vh;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

}