@import "variables";

.ToDoList {
  @include module();
  overflow: scroll;

}

span {
  margin-left: 2rem;
}

ul {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.done li {
  background-color: $background-color;
  color: $task-background;
}

.done li .taskDot {
  background-image: url("../images/check.svg");
}
