@import "variables";

.ToDoList {
  @include module();
  overflow: scroll;

}

span {
  font-size: 1rem;
  font-weight: 100;
  margin-left: 2rem;

    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

}

ul {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.done li {
  background-color: $background-color;
  color: $task-background;
}

.done li .taskDot {
  background-image: url("../images/check.svg");
}
