// colors
$gradient-first-color: rgba(238, 174, 202, 1);
$gradient-second-color:     rgba(148, 187, 233, 1);
$app-background-color: linear-gradient(
    180deg,
    $gradient-first-color 0%,
    $gradient-second-color 100%
  );
$background-color: rgba(28, 9, 58, 0.5); // kolor tła kafelka
$task-background: white; // kolor tła pojedynczego to-do
$task-font-color: black;
$dot-color: #7f5c84;
$dot-color-hover: #958298;
$dot-delete-color: #d0d0d0;
$dot-delete-color-hover: #513c63;

// measurements
$border-radius: 50px;
$small-border-radius: 25px;

// fonts
$body-font: Helvetica, sans-serif;
$body-font-size: 1rem;

// szablon pojedynczego widgetu
@mixin module() {
  background-color: $background-color;
  border-radius: $border-radius;
  padding: 1rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;  
  margin-right: 0.5rem;  
  min-height: 5rem;
  height: 70vh;
  flex-grow: 1;

}

// mixin flex
@mixin flexbox(
  $display: flex,
  $direction: column,
  $wrap: nowrap,
  $shrink: 0,
  $grow: 1,
  $alignContent: null,
  $justifyContent: center,
  $alignItems: center,
  $justifyItems: null) {
    display: $display;
    flex-direction: $direction;
    align-content: $alignContent; 
    justify-content: $justifyContent; 
    align-items: $alignItems; 
    justify-items: $justifyItems; 
    flex-wrap: $wrap;
    flex-shrink: $shrink;
    flex-grow: $grow;
}