@import "variables";

.Weather {
    @include module();
    @include flexbox();
    justify-content: flex-start;
    
    .iconAndTemp {
        @include flexbox($direction: row);
    }

    .descriptionAndHighLow {
        @include flexbox($direction: row, $justifyContent: space-between);
    }

    .weatherData {
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .location {
        font-size: 2vw;
        margin-bottom: 0.7rem;
    }

    .temperature {
        font-size: 7vw;
        font-weight: 100;
        margin-left: 1vw;
        margin-right: 0.8vw;
    }

    #weatherImage {
        width: 70%;
        // height: 100%;
        padding-top: 60%; /* 1:1 Aspect Ratio */
        position: relative; 
        background-repeat: no-repeat
    }

    .Clouds {
        background-image: url(../images/Clouds.svg);
    }
    .Thunderstorm {
        background-image: url(../images/Thunderstorm.svg) 
    }
    .Drizzle {
        background-image: url(../images/Drizzle.svg) 
    }
    .Rain {
        background-image: url(../images/Rain.svg) 
    }
    .Snow {
        background-image: url(../images/Snow.svg) 
    }
    .Clear {
        background-image: url(../images/Clear.svg) 
    }
    .Other {
        background-image: url(../images/Other.svg) 
    }
    
}